<!DOCTYPE html>
<html lang="en">
<head><title>test (zukunft.com)</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/lib_external/bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/style/style_bs.css"/>
    <link rel="stylesheet" href="/lib_external/fontawesome/css/all.css">
</head>
<body>
<div class="container">
    <nav class="navbar bg-light fixed-top"><a class="navbar-brand" href="/http/view.php" title="zukunft.com"><img
            src="/src/main/resources/images/ZUKUNFT_logo.svg" alt="zukunft.com" style="height: 4em;"></a>
        <form action="/http/find.php" class="form-inline my-2 my-lg-0"><label for="pattern"></label><input
                class="form-control mr-sm-2" type="search" name="pattern" id="pattern" placeholder="word or formula">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Get numbers</button>
        </form>
        <div class="col-md-2">
            <ul class="nav navbar-nav">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"><a href="/http/view.php?m=view_edit&id=31" title="adjust the view"><i
                        class="far fa-edit"></i></a><a href="/http/view.php?m=view_add&id=31" title="create a new view"><i
                        class="far fa-plus-square"></i></a></li>
            </ul>
        </div>
    </nav>
    <br><br><br><br><br><h4>form_title_component_add (translation missing)</h4>
    <form action="/http/view.php" id="component_add"><input class="form-control" type="hidden" name="m" id="m"
                                                            value="31"><input class="form-control" type="hidden"
                                                                              name="id" id="id" value="0"><input
            class="form-control" type="hidden" name="back" id="back" value="0"><input class="form-control" type="hidden"
                                                                                      name="confirm" id="confirm"
                                                                                      value="1">
        <div class="row col-md-12">
            <div class="form-group col-md-4"><label for="name">name</label><input class="form-control" type="text"
                                                                                  name="name" id="name"></div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-12"><label for="description">description</label><input class="form-control"
                                                                                                 type="text"
                                                                                                 name="description"
                                                                                                 id="description"></div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-4"><label for="component type">type:</label><select class="form-control"
                                                                                              name="component type"
                                                                                              form="component_add"
                                                                                              id="component type">
                <option value="1">phrase_select</option>
                <option value="2">view_select</option>
                <option value="3">text</option>
                <option value="4">phrase</option>
                <option value="8">phrase_name</option>
                <option value="37">verb_name</option>
                <option value="11">values_related</option>
                <option value="17">system_form_title</option>
                <option value="18">system_form_back_stack</option>
                <option value="19">system_form_confirm_status</option>
                <option value="20" selected>system_show_field_name</option>
                <option value="21">system_form_field_name</option>
                <option value="22">system_form_field_description</option>
                <option value="23">system_form_select_phrase</option>
                <option value="24">system_form_select_verb</option>
                <option value="25">system_form_select_phrase_type</option>
                <option value="26">system_form_select_share</option>
                <option value="27">system_form_select_protection</option>
                <option value="28">system_button_cancel</option>
                <option value="29">system_button_save</option>
                <option value="30">system_button_del</option>
                <option value="31">form_end</option>
                <option value="32">row_start</option>
                <option value="33">row_right</option>
                <option value="34">row_end</option>
                <option value="35">calc_sheet</option>
                <option value="39">system_form_select_source_type</option>
                <option value="48">system_form_select_ref_type</option>
                <option value="49">system_form_select_formula_type</option>
                <option value="50">system_form_select_view_type</option>
                <option value="51">system_form_select_component_type</option>
                <option value="40">form_view_select</option>
                <option value="47">triples_related</option>
                <option value="41">ref_list</option>
                <option value="42">link_list</option>
                <option value="43">usage</option>
                <option value="44">change_log</option>
            </select></div>
        </div>
        <a href="/http/view.php?m=0" title="Cancel" class="btn btn-space col-1 btn-outline-secondary">Cancel</a>
        <button class="btn btn-space col-1 btn-outline-success" type="submit">Save</button>
    </form>
</div>
<footer>
    <div class="text-center"><small><a href="/http/about.php" title="About">About</a> &middot;<a
            href="/http/privacy_policy.html" title="Privacy Policy">Privacy Policy</a> &middot; All structured data is
        available under the<a href="//creativecommons.org/publicdomain/zero/1.0/"
                              title="Definition of the Creative Commons CC0 License">Creative Commons CC0</a> License
        and the<a href="https://github.com/zukunft/zukunft.com" title="program code">program code</a> under the<a
                href="https://www.gnu.org/licenses/agpl.html" title="AGPL3">AGPL3</a> License</small></div>
</footer>
</body>
</html>