# only debian at the moment
OS=debian
# prod, test or develop
ENV=dev
# master (for prod), release (for test) or develop (for dev)
BRANCH=develop
# postgres suggested but MySQL
DB=postgres
# to restrict the access of the system admin (other admins do not need a fixed ip)
IP_ADMIN=localhost
# the version of the backend program code
CODE_VERSION=0.0.3
# the version of the frontend program code
UI_VERSION=0.0.3
# the name of this pod which is also used to create the url
POD_NAME=zukunft.com
# the base url of this server / pod e.g. 'https://www.zukunft.com/', 'https://test.zukunft.com/', 'http://localhost/', ...
THIS_URL=http://your-server-name/
# base url for a speperate server for the system log; if empty the base server is used
SYS_LOG_URL=

PGSQL_DATABASE=zukunft
PGSQL_USERNAME=zukunft
PGSQL_PASSWORD=change_me
# only used for script base recreation of the zukunft db user
# PGSQL_ADMIN_DATABASE=postgres
# PGSQL_ADMIN_USERNAME=postgres
# PGSQL_ADMIN_PASSWORD=
PGSQL_HOST=localhost
PGSQL_PORT=5432
PGSQL_ZUKUNFT_VERSION=0.0.3

MYSQL_DATABASE=zukunft
MYSQL_USERNAME=zukunft
MYSQL_PASSWORD=your_secure_password
# only used for script base recreation of the zukunft db user
# MYSQL_ADMIN_DATABASE=mysql
# MYSQL_ADMIN_USERNAME=root
# MYSQL_ADMIN_PASSWORD=
MYSQL_HOST=localhost
MYSQL_PORT=5432
MYSQL_ZUKUNFT_VERSION=0.0.1# the old db for upgrade

# use the database of a file folder as cache
CACHE=database
CACHE_TIME='-1 day'# max age of a data cache

ZUKUNFT_ALLOW_SETUP=1# switch this off after the initial setup

ADMIN_USER=admin#can be set here or will be ask at initial start
ADMIN_PW=#can be set here or will be ask at initial start
ADMIN_MAIL=admin@zukunft.com
CO_ADMIN_USER=deputy#can be set here or will be ask at initial start
CO_ADMIN_PW=#can be set here or will be ask at initial start
CO_ADMIN_MAIL=successor@zukunft.com
USER_NAME=vr#can be set here to create an initial user for testing
USER_PW=#can be set here or will be ask at initial start
USER_MAIL=vr@zukunft.com
CO_USER_NAME=management#can be set here to create an initial partner user for testing
CO_USER_PW=#can be set here or will be ask at initial start
CO_USER_MAIL=management@zukunft.com

WWW_ROOT=/var/www/html