<!DOCTYPE html>
<html lang="en">
<head><title>test (zukunft.com)</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.zukunft.com/lib_external/bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/style/style_bs.css"/>
    <link rel="stylesheet" href="https://www.zukunft.com/lib_external/fontawesome/css/all.css">
</head>
<body>
<div class="container">
    <nav class="navbar bg-light fixed-top"><a class="navbar-brand" href="/http/view.php" title="zukunft.com"><img
            src="/src/main/resources/images/ZUKUNFT_logo.svg" alt="zukunft.com" style="height: 4em;"></a>
        <form action="/http/find.php" class="form-inline my-2 my-lg-0"><label for="pattern"></label><input
                class="form-control mr-sm-2" type="search" name="pattern" id="pattern" placeholder="word or formula">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Get numbers</button>
        </form>
        <div class="col-sm-2">
            <ul class="nav navbar-nav">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"><a href="/http/view_edit.php?id=6" title="adjust the view"><i
                        class="far fa-edit"></i></a><a href="/http/view_add.php" title="create a new view"><i
                        class="far fa-plus-square"></i></a></li>
            </ul>
        </div>
    </nav>
    <br><br><br><br><br>
    <form action="/http/triple_add.php" id="triple_add"><input class="form-control" type="hidden" name="back" id="back"><input
            class="form-control" type="hidden" name="confirm" id="confirm" value="1">
        <div class="form-group col-sm-4"><label for="name">Name</label><input class="form-control" type="text"
                                                                              name="Name" id="name"></div>
        <div class="form-group col-sm-12"><label for="description">Description</label><input class="form-control"
                                                                                             type="text"
                                                                                             name="Description"
                                                                                             id="description"></div>
        <div class="row col-sm-12">
            <div class="form-group col-sm-4"><label for="from">from:</label><input type="text" list="from_list"
                                                                                   class="form-control" name="from"
                                                                                   form="triple_add" id="from">
                <datalist id="from_list">
                    <option data-value="0" selected>please select ...</option>
                    <option data-value="13">1967</option>
                    <option data-value="-25">1967 (Year)</option>
                    <option data-value="-29">1967 (year of definition)</option>
                    <option data-value="14">1979</option>
                    <option data-value="-26">1979 (Year)</option>
                    <option data-value="-30">1979 (year of definition)</option>
                    <option data-value="15">1983</option>
                    <option data-value="-27">1983 (Year)</option>
                    <option data-value="-31">1983 (year of definition)</option>
                    <option data-value="235">2013</option>
                    <option data-value="234">2014</option>
                    <option data-value="-77">2014 is follower of 2013</option>
                    <option data-value="194">2015</option>
                    <option data-value="-41">2015 (Year)</option>
                    <option data-value="195">2016</option>
                    <option data-value="-46">2016 is follower of 2015</option>
                    <option data-value="-42">2016 (Year)</option>
                    <option data-value="196">2017</option>
                    <option data-value="-47">2017 is follower of 2016</option>
                    <option data-value="-43">2017 (Year)</option>
                    <option data-value="197">2018</option>
                    <option data-value="-48">2018 is follower of 2017</option>
                    <option data-value="-44">2018 (Year)</option>
                    <option data-value="16">2019</option>
                    <option data-value="-49">2019 is follower of 2018</option>
                    <option data-value="-28">2019 (Year)</option>
                    <option data-value="-32">2019 (year of definition)</option>
                    <option data-value="198">2020</option>
                    <option data-value="-50">2020 is follower of 2019</option>
                    <option data-value="-45">2020 (Year)</option>
                    <option data-value="238">2023</option>
                    <option data-value="24">A</option>
                    <option data-value="232">ABB</option>
                    <option data-value="-75">ABB (Company)</option>
                    <option data-value="79">acceleration</option>
                    <option data-value="23">ampere</option>
                    <option data-value="-12">ampere (unit)</option>
                    <option data-value="88">angular acceleration</option>
                    <option data-value="85">angular velocity</option>
                    <option data-value="173">April</option>
                    <option data-value="108">area</option>
                    <option data-value="177">August</option>
                    <option data-value="-19">A (unit symbol)</option>
                    <option data-value="156">Avogadro constant</option>
                    <option data-value="68">becquerel</option>
                    <option data-value="163">billion</option>
                    <option data-value="211">block size for updates</option>
                    <option data-value="-64">block size for updates is selector for system config database update block
                        size
                    </option>
                    <option data-value="154">Boltzmann constant</option>
                    <option data-value="69">Bq</option>
                    <option data-value="63">°C</option>
                    <option data-value="47">C</option>
                    <option data-value="132">Caesium-133</option>
                    <option data-value="29">candela</option>
                    <option data-value="-15">candela (unit)</option>
                    <option data-value="189">Canton</option>
                    <option data-value="237">cash flow statement</option>
                    <option data-value="30">cd</option>
                    <option data-value="-22">cd (unit symbol)</option>
                    <option data-value="62">celsius</option>
                    <option data-value="190">City</option>
                    <option data-value="231">Company</option>
                    <option data-value="2">constant</option>
                    <option data-value="46">coulomb</option>
                    <option data-value="187">Country</option>
                    <option data-value="114">cubic metre</option>
                    <option data-value="95">cubic metre per second</option>
                    <option data-value="208">database</option>
                    <option data-value="100">day</option>
                    <option data-value="181">December</option>
                    <option data-value="12">definition</option>
                    <option data-value="149">definition of joule</option>
                    <option data-value="105">distance</option>
                    <option data-value="6">𝑒</option>
                    <option data-value="205">Earnings</option>
                    <option data-value="153">elementary charge</option>
                    <option data-value="202">Equity</option>
                    <option data-value="4">Euler's constant</option>
                    <option data-value="-4">𝑒 (unit symbol)</option>
                    <option data-value="55">F</option>
                    <option data-value="54">farad</option>
                    <option data-value="171">February</option>
                    <option data-value="131">frequency</option>
                    <option data-value="91">frequency drift</option>
                    <option data-value="120">g</option>
                    <option data-value="192">Germany</option>
                    <option data-value="-35">Germany (Country)</option>
                    <option data-value="119">gram</option>
                    <option data-value="70">gray</option>
                    <option data-value="71">Gy</option>
                    <option data-value="61">H</option>
                    <option data-value="112">ha</option>
                    <option data-value="111">hectare</option>
                    <option data-value="60">henry</option>
                    <option data-value="32">hertz</option>
                    <option data-value="92">hertz per second</option>
                    <option data-value="99">hour</option>
                    <option data-value="130">hyperfine</option>
                    <option data-value="133">hyperfine transition frequency of Cs</option>
                    <option data-value="33">Hz</option>
                    <option data-value="93">Hz/s</option>
                    <option data-value="236">Income taxes</option>
                    <option data-value="-78">Income taxes is part of cash flow statement</option>
                    <option data-value="186">increase</option>
                    <option data-value="193">inhabitants</option>
                    <option data-value="209">initial retry delay in sec</option>
                    <option data-value="-62">initial retry delay in sec is selector for system config database retry
                        start delay in sec
                    </option>
                    <option data-value="43">J</option>
                    <option data-value="170">January</option>
                    <option data-value="82">jerk (physics)</option>
                    <option data-value="155">J/K</option>
                    <option data-value="42">joule</option>
                    <option data-value="152">J⋅s</option>
                    <option data-value="176">Juli</option>
                    <option data-value="175">June</option>
                    <option data-value="199">k</option>
                    <option data-value="26">K</option>
                    <option data-value="75">kat</option>
                    <option data-value="74">katal</option>
                    <option data-value="25">kelvin</option>
                    <option data-value="-13">kelvin (unit)</option>
                    <option data-value="22">kg</option>
                    <option data-value="-18">kg (unit symbol)</option>
                    <option data-value="21">kilogram</option>
                    <option data-value="-11">kilogram (unit)</option>
                    <option data-value="106">kilometre</option>
                    <option data-value="76">kinematic SI derived units</option>
                    <option data-value="107">km</option>
                    <option data-value="-20">K (unit symbol)</option>
                    <option data-value="118">kWh</option>
                    <option data-value="117">l</option>
                    <option data-value="182">latest</option>
                    <option data-value="116">litre</option>
                    <option data-value="65">lm</option>
                    <option data-value="159">lm/W</option>
                    <option data-value="64">lumen</option>
                    <option data-value="158">luminous efficacy</option>
                    <option data-value="-23">l (unit symbol)</option>
                    <option data-value="66">lux</option>
                    <option data-value="67">lx</option>
                    <option data-value="20">m</option>
                    <option data-value="110">m2</option>
                    <option data-value="115">m3</option>
                    <option data-value="96">m3/s</option>
                    <option data-value="172">March</option>
                    <option data-value="-1">Mathematical constant</option>
                    <option data-value="1">Mathematics</option>
                    <option data-value="210">max retry delay in sec</option>
                    <option data-value="-63">max retry delay in sec is selector for system config database retry max
                        delay in sec
                    </option>
                    <option data-value="174">May</option>
                    <option data-value="104">Mechanical SI derived units</option>
                    <option data-value="134">meter</option>
                    <option data-value="19">metre</option>
                    <option data-value="78">metre per second</option>
                    <option data-value="83">metre per second cubed</option>
                    <option data-value="80">metre per second squared</option>
                    <option data-value="-10">metre (unit)</option>
                    <option data-value="162">million</option>
                    <option data-value="98">minute</option>
                    <option data-value="227">mio</option>
                    <option data-value="28">mol</option>
                    <option data-value="157">mol−1</option>
                    <option data-value="27">mole</option>
                    <option data-value="-14">mole (unit)</option>
                    <option data-value="-21">mol (unit symbol)</option>
                    <option data-value="102">month</option>
                    <option data-value="-24">m/s</option>
                    <option data-value="81">m/s2</option>
                    <option data-value="84">m/s3</option>
                    <option data-value="-17">m (unit symbol)</option>
                    <option data-value="39">N</option>
                    <option data-value="31">named SI derived unit</option>
                    <option data-value="9">Natural science</option>
                    <option data-value="-5">Natural science (branch)</option>
                    <option data-value="38">newton</option>
                    <option data-value="184">next</option>
                    <option data-value="180">November</option>
                    <option data-value="169">Now</option>
                    <option data-value="179">October</option>
                    <option data-value="56">ohm</option>
                    <option data-value="160">one</option>
                    <option data-value="41">Pa</option>
                    <option data-value="40">pascal</option>
                    <option data-value="125">per 100 km</option>
                    <option data-value="206">PE Ratio</option>
                    <option data-value="164">percent</option>
                    <option data-value="214">percentage to suggest</option>
                    <option data-value="-67">percentage to suggest is selector for system config min percent to
                        suggest
                    </option>
                    <option data-value="123">per day</option>
                    <option data-value="124">per km</option>
                    <option data-value="126">per kWh</option>
                    <option data-value="128">per l</option>
                    <option data-value="127">per t</option>
                    <option data-value="129">per year</option>
                    <option data-value="-7">Physical constant</option>
                    <option data-value="7">Physics</option>
                    <option data-value="-6">Physics (Natural science)</option>
                    <option data-value="3">Pi</option>
                    <option data-value="-2">Pi (math)</option>
                    <option data-value="151">Planck constant</option>
                    <option data-value="201">population in the city of Zurich in percent of Switzerland</option>
                    <option data-value="185">prior</option>
                    <option data-value="35">rad</option>
                    <option data-value="34">radian</option>
                    <option data-value="86">radian per second</option>
                    <option data-value="89">radian per second squared</option>
                    <option data-value="87">rad/s</option>
                    <option data-value="90">rad/s2</option>
                    <option data-value="18">s</option>
                    <option data-value="59">S</option>
                    <option data-value="168">scale billion to one</option>
                    <option data-value="138">scale day to hour</option>
                    <option data-value="139">scale day to sec</option>
                    <option data-value="144">scale gram to kg</option>
                    <option data-value="137">scale hour to sec</option>
                    <option data-value="148">scale km to 100 km</option>
                    <option data-value="147">scale km to metre</option>
                    <option data-value="146">scale kWh to joule</option>
                    <option data-value="143">scale litre to m3</option>
                    <option data-value="167">scale million to one</option>
                    <option data-value="136">scale minute to sec</option>
                    <option data-value="166">scale thousand to one</option>
                    <option data-value="145">scale tonne to kg</option>
                    <option data-value="140">scale week to day</option>
                    <option data-value="141">scale year to month</option>
                    <option data-value="142">scale year to second</option>
                    <option data-value="8">Science</option>
                    <option data-value="17">second</option>
                    <option data-value="-9">second (unit)</option>
                    <option data-value="212">select</option>
                    <option data-value="178">September</option>
                    <option data-value="203">Share</option>
                    <option data-value="204">Share Price</option>
                    <option data-value="10">SI base unit</option>
                    <option data-value="-8">SI base unit (Physical constant)</option>
                    <option data-value="58">siemens</option>
                    <option data-value="72">sievert</option>
                    <option data-value="77">speed</option>
                    <option data-value="150">speed of light</option>
                    <option data-value="109">square metre</option>
                    <option data-value="37">sr</option>
                    <option data-value="36">steradian</option>
                    <option data-value="-16">s (unit symbol)</option>
                    <option data-value="73">Sv</option>
                    <option data-value="188">Switzerland</option>
                    <option data-value="-34">Switzerland (Country)</option>
                    <option data-value="222">system config automatic created years</option>
                    <option data-value="-59">system config automatic created years (system config time)</option>
                    <option data-value="-51">system config database</option>
                    <option data-value="219">system config database retry max delay in sec</option>
                    <option data-value="-56">system config database retry max delay in sec (system config database)
                    </option>
                    <option data-value="218">system config database retry start delay in sec</option>
                    <option data-value="-55">system config database retry start delay in sec (system config database)
                    </option>
                    <option data-value="220">system config database update block size</option>
                    <option data-value="-57">system config database update block size (system config database)</option>
                    <option data-value="-54">system config display</option>
                    <option data-value="223">system config min percent to suggest</option>
                    <option data-value="-60">system config min percent to suggest (system config select)</option>
                    <option data-value="-52">system config select</option>
                    <option data-value="221">system config target number of selection entries</option>
                    <option data-value="-58">system config target number of selection entries (system config select)
                    </option>
                    <option data-value="-53">system config time</option>
                    <option data-value="207">system configuration</option>
                    <option data-value="224">system config views to freeze</option>
                    <option data-value="-61">system config views to freeze (system config display)</option>
                    <option data-value="230">System Test Another Time Word e.g. 2022</option>
                    <option data-value="-72">System Test Another Time Word e.g. 2022 is follower of System Test Time
                        Word e.g. 2021
                    </option>
                    <option data-value="-71">System Test Another Time Word e.g. 2022 (Year)</option>
                    <option data-value="-74">System Test Excluded Zurich Insurance is not part of the City of Zurich
                    </option>
                    <option data-value="247">System Test Formula</option>
                    <option data-value="248">System Test Formula Excluded</option>
                    <option data-value="242">System Test Formula PE Ratio</option>
                    <option data-value="252">System Test Formula scale billions to one</option>
                    <option data-value="251">System Test Formula scale millions to one</option>
                    <option data-value="250">System Test Formula scale one to thousand</option>
                    <option data-value="249">System Test Formula scale thousand to one</option>
                    <option data-value="244">System Test Formula Sector</option>
                    <option data-value="225">System Test Measure Word e.g. CHF</option>
                    <option data-value="228">System Test Scaling Word e.g. billions</option>
                    <option data-value="226">System Test Scaling Word e.g. thousands</option>
                    <option data-value="229">System Test Time Word e.g. 2021</option>
                    <option data-value="-70">System Test Time Word e.g. 2021 is follower of 2018</option>
                    <option data-value="-69">System Test Time Word e.g. 2021 (Year)</option>
                    <option data-value="239">System Test Word Earnings</option>
                    <option data-value="241">System Test Word PE Ratio</option>
                    <option data-value="246">System Test Word Prior</option>
                    <option data-value="240">System Test Word Share Price</option>
                    <option data-value="245">System Test Word This</option>
                    <option data-value="243">System Test Word Total</option>
                    <option data-value="122">t</option>
                    <option data-value="53">T</option>
                    <option data-value="213">target entries</option>
                    <option data-value="-65">target entries is selector for system config target number of selection
                        entries
                    </option>
                    <option data-value="52">tesla</option>
                    <option data-value="183">this</option>
                    <option data-value="161">thousand</option>
                    <option data-value="97">time</option>
                    <option data-value="121">tonne</option>
                    <option data-value="165">tsd.</option>
                    <option data-value="-33">tsd. is alias of thousand</option>
                    <option data-value="49">V</option>
                    <option data-value="233">Vestas</option>
                    <option data-value="-76">Vestas SA</option>
                    <option data-value="216">view</option>
                    <option data-value="217">views to freeze</option>
                    <option data-value="-68">views to freeze is selector for system config views to freeze</option>
                    <option data-value="48">volt</option>
                    <option data-value="113">volume</option>
                    <option data-value="94">volumetric flow rate</option>
                    <option data-value="45">W</option>
                    <option data-value="44">watt</option>
                    <option data-value="51">Wb</option>
                    <option data-value="50">weber</option>
                    <option data-value="101">week</option>
                    <option data-value="103">year</option>
                    <option data-value="11">Year</option>
                    <option data-value="-79">Year (2023)</option>
                    <option data-value="135">year of definition</option>
                    <option data-value="215">years to create</option>
                    <option data-value="-66">years to create is selector for system config automatic created years
                    </option>
                    <option data-value="200">ZU</option>
                    <option data-value="-40">ZU is an acronym for Zurich</option>
                    <option data-value="191">Zurich</option>
                    <option data-value="-36">Zurich (Canton)</option>
                    <option data-value="-38">Zurich (Canton) is part of Switzerland</option>
                    <option data-value="-37">Zurich (City)</option>
                    <option data-value="-39">Zurich (City) is part of Zurich (Canton)</option>
                    <option data-value="-73">Zurich Insurance</option>
                    <option data-value="5">π</option>
                    <option data-value="-3">π (unit symbol)</option>
                    <option data-value="57">Ω</option>
                </datalist>
            </div>
            <div class="form-group col-sm-4"><label for="verb">verb:</label><select class="form-control" name="verb"
                                                                                    form="triple_add" id="verb">
                <option value="0" selected>please select ...</option>
                <option value="1">not_set</option>
                <option value="2">is</option>
                <option value="3">contains</option>
                <option value="4">with</option>
                <option value="9">follow</option>
            </select></div>
            <div class="form-group col-sm-4"><label for="to">to:</label><input type="text" list="to_list"
                                                                               class="form-control" name="to"
                                                                               form="triple_add" id="to">
                <datalist id="to_list">
                    <option data-value="0" selected>please select ...</option>
                    <option data-value="13">1967</option>
                    <option data-value="-25">1967 (Year)</option>
                    <option data-value="-29">1967 (year of definition)</option>
                    <option data-value="14">1979</option>
                    <option data-value="-26">1979 (Year)</option>
                    <option data-value="-30">1979 (year of definition)</option>
                    <option data-value="15">1983</option>
                    <option data-value="-27">1983 (Year)</option>
                    <option data-value="-31">1983 (year of definition)</option>
                    <option data-value="235">2013</option>
                    <option data-value="234">2014</option>
                    <option data-value="-77">2014 is follower of 2013</option>
                    <option data-value="194">2015</option>
                    <option data-value="-41">2015 (Year)</option>
                    <option data-value="195">2016</option>
                    <option data-value="-46">2016 is follower of 2015</option>
                    <option data-value="-42">2016 (Year)</option>
                    <option data-value="196">2017</option>
                    <option data-value="-47">2017 is follower of 2016</option>
                    <option data-value="-43">2017 (Year)</option>
                    <option data-value="197">2018</option>
                    <option data-value="-48">2018 is follower of 2017</option>
                    <option data-value="-44">2018 (Year)</option>
                    <option data-value="16">2019</option>
                    <option data-value="-49">2019 is follower of 2018</option>
                    <option data-value="-28">2019 (Year)</option>
                    <option data-value="-32">2019 (year of definition)</option>
                    <option data-value="198">2020</option>
                    <option data-value="-50">2020 is follower of 2019</option>
                    <option data-value="-45">2020 (Year)</option>
                    <option data-value="238">2023</option>
                    <option data-value="24">A</option>
                    <option data-value="232">ABB</option>
                    <option data-value="-75">ABB (Company)</option>
                    <option data-value="79">acceleration</option>
                    <option data-value="23">ampere</option>
                    <option data-value="-12">ampere (unit)</option>
                    <option data-value="88">angular acceleration</option>
                    <option data-value="85">angular velocity</option>
                    <option data-value="173">April</option>
                    <option data-value="108">area</option>
                    <option data-value="177">August</option>
                    <option data-value="-19">A (unit symbol)</option>
                    <option data-value="156">Avogadro constant</option>
                    <option data-value="68">becquerel</option>
                    <option data-value="163">billion</option>
                    <option data-value="211">block size for updates</option>
                    <option data-value="-64">block size for updates is selector for system config database update block
                        size
                    </option>
                    <option data-value="154">Boltzmann constant</option>
                    <option data-value="69">Bq</option>
                    <option data-value="63">°C</option>
                    <option data-value="47">C</option>
                    <option data-value="132">Caesium-133</option>
                    <option data-value="29">candela</option>
                    <option data-value="-15">candela (unit)</option>
                    <option data-value="189">Canton</option>
                    <option data-value="237">cash flow statement</option>
                    <option data-value="30">cd</option>
                    <option data-value="-22">cd (unit symbol)</option>
                    <option data-value="62">celsius</option>
                    <option data-value="190">City</option>
                    <option data-value="231">Company</option>
                    <option data-value="2">constant</option>
                    <option data-value="46">coulomb</option>
                    <option data-value="187">Country</option>
                    <option data-value="114">cubic metre</option>
                    <option data-value="95">cubic metre per second</option>
                    <option data-value="208">database</option>
                    <option data-value="100">day</option>
                    <option data-value="181">December</option>
                    <option data-value="12">definition</option>
                    <option data-value="149">definition of joule</option>
                    <option data-value="105">distance</option>
                    <option data-value="6">𝑒</option>
                    <option data-value="205">Earnings</option>
                    <option data-value="153">elementary charge</option>
                    <option data-value="202">Equity</option>
                    <option data-value="4">Euler's constant</option>
                    <option data-value="-4">𝑒 (unit symbol)</option>
                    <option data-value="55">F</option>
                    <option data-value="54">farad</option>
                    <option data-value="171">February</option>
                    <option data-value="131">frequency</option>
                    <option data-value="91">frequency drift</option>
                    <option data-value="120">g</option>
                    <option data-value="192">Germany</option>
                    <option data-value="-35">Germany (Country)</option>
                    <option data-value="119">gram</option>
                    <option data-value="70">gray</option>
                    <option data-value="71">Gy</option>
                    <option data-value="61">H</option>
                    <option data-value="112">ha</option>
                    <option data-value="111">hectare</option>
                    <option data-value="60">henry</option>
                    <option data-value="32">hertz</option>
                    <option data-value="92">hertz per second</option>
                    <option data-value="99">hour</option>
                    <option data-value="130">hyperfine</option>
                    <option data-value="133">hyperfine transition frequency of Cs</option>
                    <option data-value="33">Hz</option>
                    <option data-value="93">Hz/s</option>
                    <option data-value="236">Income taxes</option>
                    <option data-value="-78">Income taxes is part of cash flow statement</option>
                    <option data-value="186">increase</option>
                    <option data-value="193">inhabitants</option>
                    <option data-value="209">initial retry delay in sec</option>
                    <option data-value="-62">initial retry delay in sec is selector for system config database retry
                        start delay in sec
                    </option>
                    <option data-value="43">J</option>
                    <option data-value="170">January</option>
                    <option data-value="82">jerk (physics)</option>
                    <option data-value="155">J/K</option>
                    <option data-value="42">joule</option>
                    <option data-value="152">J⋅s</option>
                    <option data-value="176">Juli</option>
                    <option data-value="175">June</option>
                    <option data-value="199">k</option>
                    <option data-value="26">K</option>
                    <option data-value="75">kat</option>
                    <option data-value="74">katal</option>
                    <option data-value="25">kelvin</option>
                    <option data-value="-13">kelvin (unit)</option>
                    <option data-value="22">kg</option>
                    <option data-value="-18">kg (unit symbol)</option>
                    <option data-value="21">kilogram</option>
                    <option data-value="-11">kilogram (unit)</option>
                    <option data-value="106">kilometre</option>
                    <option data-value="76">kinematic SI derived units</option>
                    <option data-value="107">km</option>
                    <option data-value="-20">K (unit symbol)</option>
                    <option data-value="118">kWh</option>
                    <option data-value="117">l</option>
                    <option data-value="182">latest</option>
                    <option data-value="116">litre</option>
                    <option data-value="65">lm</option>
                    <option data-value="159">lm/W</option>
                    <option data-value="64">lumen</option>
                    <option data-value="158">luminous efficacy</option>
                    <option data-value="-23">l (unit symbol)</option>
                    <option data-value="66">lux</option>
                    <option data-value="67">lx</option>
                    <option data-value="20">m</option>
                    <option data-value="110">m2</option>
                    <option data-value="115">m3</option>
                    <option data-value="96">m3/s</option>
                    <option data-value="172">March</option>
                    <option data-value="-1">Mathematical constant</option>
                    <option data-value="1">Mathematics</option>
                    <option data-value="210">max retry delay in sec</option>
                    <option data-value="-63">max retry delay in sec is selector for system config database retry max
                        delay in sec
                    </option>
                    <option data-value="174">May</option>
                    <option data-value="104">Mechanical SI derived units</option>
                    <option data-value="134">meter</option>
                    <option data-value="19">metre</option>
                    <option data-value="78">metre per second</option>
                    <option data-value="83">metre per second cubed</option>
                    <option data-value="80">metre per second squared</option>
                    <option data-value="-10">metre (unit)</option>
                    <option data-value="162">million</option>
                    <option data-value="98">minute</option>
                    <option data-value="227">mio</option>
                    <option data-value="28">mol</option>
                    <option data-value="157">mol−1</option>
                    <option data-value="27">mole</option>
                    <option data-value="-14">mole (unit)</option>
                    <option data-value="-21">mol (unit symbol)</option>
                    <option data-value="102">month</option>
                    <option data-value="-24">m/s</option>
                    <option data-value="81">m/s2</option>
                    <option data-value="84">m/s3</option>
                    <option data-value="-17">m (unit symbol)</option>
                    <option data-value="39">N</option>
                    <option data-value="31">named SI derived unit</option>
                    <option data-value="9">Natural science</option>
                    <option data-value="-5">Natural science (branch)</option>
                    <option data-value="38">newton</option>
                    <option data-value="184">next</option>
                    <option data-value="180">November</option>
                    <option data-value="169">Now</option>
                    <option data-value="179">October</option>
                    <option data-value="56">ohm</option>
                    <option data-value="160">one</option>
                    <option data-value="41">Pa</option>
                    <option data-value="40">pascal</option>
                    <option data-value="125">per 100 km</option>
                    <option data-value="206">PE Ratio</option>
                    <option data-value="164">percent</option>
                    <option data-value="214">percentage to suggest</option>
                    <option data-value="-67">percentage to suggest is selector for system config min percent to
                        suggest
                    </option>
                    <option data-value="123">per day</option>
                    <option data-value="124">per km</option>
                    <option data-value="126">per kWh</option>
                    <option data-value="128">per l</option>
                    <option data-value="127">per t</option>
                    <option data-value="129">per year</option>
                    <option data-value="-7">Physical constant</option>
                    <option data-value="7">Physics</option>
                    <option data-value="-6">Physics (Natural science)</option>
                    <option data-value="3">Pi</option>
                    <option data-value="-2">Pi (math)</option>
                    <option data-value="151">Planck constant</option>
                    <option data-value="201">population in the city of Zurich in percent of Switzerland</option>
                    <option data-value="185">prior</option>
                    <option data-value="35">rad</option>
                    <option data-value="34">radian</option>
                    <option data-value="86">radian per second</option>
                    <option data-value="89">radian per second squared</option>
                    <option data-value="87">rad/s</option>
                    <option data-value="90">rad/s2</option>
                    <option data-value="18">s</option>
                    <option data-value="59">S</option>
                    <option data-value="168">scale billion to one</option>
                    <option data-value="138">scale day to hour</option>
                    <option data-value="139">scale day to sec</option>
                    <option data-value="144">scale gram to kg</option>
                    <option data-value="137">scale hour to sec</option>
                    <option data-value="148">scale km to 100 km</option>
                    <option data-value="147">scale km to metre</option>
                    <option data-value="146">scale kWh to joule</option>
                    <option data-value="143">scale litre to m3</option>
                    <option data-value="167">scale million to one</option>
                    <option data-value="136">scale minute to sec</option>
                    <option data-value="166">scale thousand to one</option>
                    <option data-value="145">scale tonne to kg</option>
                    <option data-value="140">scale week to day</option>
                    <option data-value="141">scale year to month</option>
                    <option data-value="142">scale year to second</option>
                    <option data-value="8">Science</option>
                    <option data-value="17">second</option>
                    <option data-value="-9">second (unit)</option>
                    <option data-value="212">select</option>
                    <option data-value="178">September</option>
                    <option data-value="203">Share</option>
                    <option data-value="204">Share Price</option>
                    <option data-value="10">SI base unit</option>
                    <option data-value="-8">SI base unit (Physical constant)</option>
                    <option data-value="58">siemens</option>
                    <option data-value="72">sievert</option>
                    <option data-value="77">speed</option>
                    <option data-value="150">speed of light</option>
                    <option data-value="109">square metre</option>
                    <option data-value="37">sr</option>
                    <option data-value="36">steradian</option>
                    <option data-value="-16">s (unit symbol)</option>
                    <option data-value="73">Sv</option>
                    <option data-value="188">Switzerland</option>
                    <option data-value="-34">Switzerland (Country)</option>
                    <option data-value="222">system config automatic created years</option>
                    <option data-value="-59">system config automatic created years (system config time)</option>
                    <option data-value="-51">system config database</option>
                    <option data-value="219">system config database retry max delay in sec</option>
                    <option data-value="-56">system config database retry max delay in sec (system config database)
                    </option>
                    <option data-value="218">system config database retry start delay in sec</option>
                    <option data-value="-55">system config database retry start delay in sec (system config database)
                    </option>
                    <option data-value="220">system config database update block size</option>
                    <option data-value="-57">system config database update block size (system config database)</option>
                    <option data-value="-54">system config display</option>
                    <option data-value="223">system config min percent to suggest</option>
                    <option data-value="-60">system config min percent to suggest (system config select)</option>
                    <option data-value="-52">system config select</option>
                    <option data-value="221">system config target number of selection entries</option>
                    <option data-value="-58">system config target number of selection entries (system config select)
                    </option>
                    <option data-value="-53">system config time</option>
                    <option data-value="207">system configuration</option>
                    <option data-value="224">system config views to freeze</option>
                    <option data-value="-61">system config views to freeze (system config display)</option>
                    <option data-value="230">System Test Another Time Word e.g. 2022</option>
                    <option data-value="-72">System Test Another Time Word e.g. 2022 is follower of System Test Time
                        Word e.g. 2021
                    </option>
                    <option data-value="-71">System Test Another Time Word e.g. 2022 (Year)</option>
                    <option data-value="-74">System Test Excluded Zurich Insurance is not part of the City of Zurich
                    </option>
                    <option data-value="247">System Test Formula</option>
                    <option data-value="248">System Test Formula Excluded</option>
                    <option data-value="242">System Test Formula PE Ratio</option>
                    <option data-value="252">System Test Formula scale billions to one</option>
                    <option data-value="251">System Test Formula scale millions to one</option>
                    <option data-value="250">System Test Formula scale one to thousand</option>
                    <option data-value="249">System Test Formula scale thousand to one</option>
                    <option data-value="244">System Test Formula Sector</option>
                    <option data-value="225">System Test Measure Word e.g. CHF</option>
                    <option data-value="228">System Test Scaling Word e.g. billions</option>
                    <option data-value="226">System Test Scaling Word e.g. thousands</option>
                    <option data-value="229">System Test Time Word e.g. 2021</option>
                    <option data-value="-70">System Test Time Word e.g. 2021 is follower of 2018</option>
                    <option data-value="-69">System Test Time Word e.g. 2021 (Year)</option>
                    <option data-value="239">System Test Word Earnings</option>
                    <option data-value="241">System Test Word PE Ratio</option>
                    <option data-value="246">System Test Word Prior</option>
                    <option data-value="240">System Test Word Share Price</option>
                    <option data-value="245">System Test Word This</option>
                    <option data-value="243">System Test Word Total</option>
                    <option data-value="122">t</option>
                    <option data-value="53">T</option>
                    <option data-value="213">target entries</option>
                    <option data-value="-65">target entries is selector for system config target number of selection
                        entries
                    </option>
                    <option data-value="52">tesla</option>
                    <option data-value="183">this</option>
                    <option data-value="161">thousand</option>
                    <option data-value="97">time</option>
                    <option data-value="121">tonne</option>
                    <option data-value="165">tsd.</option>
                    <option data-value="-33">tsd. is alias of thousand</option>
                    <option data-value="49">V</option>
                    <option data-value="233">Vestas</option>
                    <option data-value="-76">Vestas SA</option>
                    <option data-value="216">view</option>
                    <option data-value="217">views to freeze</option>
                    <option data-value="-68">views to freeze is selector for system config views to freeze</option>
                    <option data-value="48">volt</option>
                    <option data-value="113">volume</option>
                    <option data-value="94">volumetric flow rate</option>
                    <option data-value="45">W</option>
                    <option data-value="44">watt</option>
                    <option data-value="51">Wb</option>
                    <option data-value="50">weber</option>
                    <option data-value="101">week</option>
                    <option data-value="103">year</option>
                    <option data-value="11">Year</option>
                    <option data-value="-79">Year (2023)</option>
                    <option data-value="135">year of definition</option>
                    <option data-value="215">years to create</option>
                    <option data-value="-66">years to create is selector for system config automatic created years
                    </option>
                    <option data-value="200">ZU</option>
                    <option data-value="-40">ZU is an acronym for Zurich</option>
                    <option data-value="191">Zurich</option>
                    <option data-value="-36">Zurich (Canton)</option>
                    <option data-value="-38">Zurich (Canton) is part of Switzerland</option>
                    <option data-value="-37">Zurich (City)</option>
                    <option data-value="-39">Zurich (City) is part of Zurich (Canton)</option>
                    <option data-value="-73">Zurich Insurance</option>
                    <option data-value="5">π</option>
                    <option data-value="-3">π (unit symbol)</option>
                    <option data-value="57">Ω</option>
                </datalist>
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="form-group col-sm-4"><label for="share">share:</label><select class="form-control" name="share"
                                                                                      form="share" id="share">
                <option value="1" selected>public</option>
                <option value="2">personal</option>
                <option value="3">group</option>
                <option value="4">private</option>
            </select></div>
            <div class="form-group col-sm-4"><label for="protection">protection:</label><select class="form-control"
                                                                                                name="protection"
                                                                                                form="protection"
                                                                                                id="protection">
                <option value="1" selected>no_protection</option>
                <option value="2">user_protection</option>
                <option value="3">admin_protection</option>
                <option value="4">no_change</option>
            </select></div>
        </div>
        <div class="text-right">
            <button class="btn btn-space btn-outline-secondary" type="submit">Cancel</button>
            <button class="btn btn-space btn-outline-success" type="submit">Save</button>
        </div>
    </form>
</div>
<footer>
    <div class="text-center"><small><a href="/http/about.php" title="About">About</a> &middot;<a
            href="/http/privacy_policy.html" title="Privacy Policy">Privacy Policy</a> &middot; All structured data is
        available under the<a href="//creativecommons.org/publicdomain/zero/1.0/"
                              title="Definition of the Creative Commons CC0 License">Creative Commons CC0</a> License
        and the<a href="https://github.com/zukunft/zukunft.com" title="program code">program code</a> under the<a
                href="https://www.gnu.org/licenses/agpl.html" title="AGPL3">AGPL3</a> License</small></div>
</footer>
</body>
</html>