<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            test - zukunft.com
        </title>
        <link rel="stylesheet" href="http://localhost/external_lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="http://localhost/external_lib/fontawesome/css/all.css">
        <link rel="stylesheet" href="http://localhost/src/main/resources/style/style_html.css">
    </head>
    <body>
        <nav  class="navbar site-header fixed-top">
            <a href="http://localhost/http/view.php" title="zukunft.com" class="navbar-brand">
                <img src="http://localhost/src/main/resources/images/ZUKUNFT_logo.svg" alt="zukunft.com" class="logo-nav">
            </a>
            <form action="http://localhost/http/view.php" class="d-flex align-items-center my-2 my-lg-0 flex-grow-1 mx-3">
                <input type="hidden" name="m" value="67">
                <label for="kp" class="visually-hidden">
                    Search
                </label>
                <input class="form-control me-2" type="search" name="pattern" id="kp" placeholder="word or formula" style="min-width: 40vw; max-width: 800px;">
                <button class="btn btn-outline-primary" type="submit">
                    Get numbers
                </button>
            </form>
            <div class="col-md-2">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <details class="view-menu">
                            <summary>
                                <i class="fas fa-edit">
                                </i>
                            </summary>
                            <ul>
                                <li>
                                    <a href="http://localhost/http/view.php?m=view_change&amp;id=2">
                                        alternative
                                    </a>
                                </li>
                                <li>
                                    <a href="?view=more">
                                        ... more
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/http/view.php?m=31&amp;id=1">
                                        change view
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/http/view.php?m=30">
                                        add view
                                    </a>
                                </li>
                            </ul>
                        </details>
                        <details class="lang-menu">
                            <summary>
                                <i class="fas fa-globe">
                                </i>
                            </summary>
                            <ul>
                                <li>
                                    <a href="http://localhost/http/view.php?m=1&amp;q=en">
                                        English
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/http/view.php?m=1&amp;q=en_us">
                                        US English
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/http/view.php?m=1&amp;q=de" title="German">
                                        Deutsch
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/http/view.php?m=1&amp;q=fr" title="French">
                                        Français
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/http/view.php?m=1&amp;q=es" title="Spanish">
                                        Español
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/http/view.php?m=1&amp;q=zh" title="Chinese">
                                        漢語
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/http/view.php?m=1&amp;q=ar" title="Arabic">
                                        العربية
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/http/view.php?m=language_select">
                                        ... more
                                    </a>
                                </li>
                            </ul>
                        </details>
                        <details class="user-menu">
                            <summary>
                                <i class="fas fa-user-circle">
                                </i>
                            </summary>
                            <ul>
                                <li>
                                    <a href="http://localhost/http/view.php?m=61">
                                        Log in
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/http/view.php?m=60">
                                        Signup
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/settings">
                                        Settings
                                    </a>
                                </li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="main-container">
            <div class="row col-md-12">
                <div class="row col-md-12">
                    <div class="heading-line">
                        <h4 class="heading-inline">
                            view "Word (default)"
                        </h4>
                        <a href="http://localhost/http/view.php?m=31&amp;id=90" title="adjust the view" class="heading-icon-inline">
                            <i class="fas fa-edit">
                            </i>
                        </a>
                    </div>
                    <div class="subtitle">
                        (
                        <a href="http://localhost/http/view.php?m=22&amp;id=11" title="only expected to be used for word objects">
                            for words only
                        </a>
                        )
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col" style="min-width: 700px">
                    the default view for words
                    <div>
                        zukunft.com system
                    </div>
                </div>
                <div class="col" style="min-width: 700px">
                    <h5>
                        Used by
                    </h5>
                    <div>
                        not used by any word, triple, verb or formula
                    </div>
                </div>
                <div class="col" style="min-width: 700px">
                    <h5>
                        Components
                    </h5>
                    <div>
                        <table class="table table-borderless grey">
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=290" title="show the word name as a page title">
                                        Word title
                                    </a>
                                </td>
                                <td>
                                    below
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=324" title="show the language specific sub title for the description column">
                                        system sub title description
                                    </a>
                                </td>
                                <td>
                                    below
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=199" title="the object description as read only">
                                        system show field description
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=318" title="show the plural form of a word as read only text">
                                        system show field plural
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=320" title="show the phrases that are an alias of this phrase">
                                        phrase aliases
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    6
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=321" title="show the symbols of this phrase">
                                        phrase symbols
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    7
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=234" title="list of words or triples where this word leading to">
                                        children of word
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    8
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=323" title="list of phrases related to this phrase excluding the alias, symbol and &#039;is a&#039; entries that are already shown by the alias, symbol and subtitle components">
                                        related phrases without subtitles
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    9
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=60" title="show the language specific sub title for a reference list">
                                        system sub title references
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    10
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=239" title="changeable list of reference of this word">
                                        ref list word
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    11
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=61" title="show the language specific sub title for a value list">
                                        system sub title values
                                    </a>
                                </td>
                                <td>
                                    side or first below
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    12
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=308" title="show a chart of the most relevant values by impact on top of the value list">
                                        value chart
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    13
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=306" title="show the most relevant and related values">
                                        related values
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    14
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=62" title="show the language specific sub title for a formula list">
                                        system sub title formulas
                                    </a>
                                </td>
                                <td>
                                    side or below
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    15
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=325" title="list of formulas">
                                        formula list
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    16
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=326" title="list of formulas assigned to the ancestor phrases of this word, grouped per ancestor">
                                        formulas of parents
                                    </a>
                                </td>
                                <td>
                                    combine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    17
                                </td>
                                <td>
                                    <a href="http://localhost/http/view.php?m=115&amp;id=330" title="tab box with the related views (preview plus open and switch buttons) and the change log of the shown object">
                                        view tab box
                                    </a>
                                </td>
                                <td>
                                    side or last below
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col" style="min-width: 700px">
                    <div class="css-tabs">
                        <div class="css-tab" id="changes">
                            <a href="#changes" class="css-tab-label">
                                Changes
                            </a>
                            <div class="css-tab-pane">
                                <div class="container">
                                    <table class="table table-borderless grey">
                                        <tr>
                                            <th>
                                                when
                                            </th>
                                            <th>
                                                who
                                            </th>
                                            <th>
                                                what
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                26-12-2022 18:23
                                            </td>
                                            <td>
                                                <a href="http://localhost/http/view.php?m=74&amp;id=1">
                                                    zukunft.com system
                                                </a>
                                            </td>
                                            <td>
                                                added view type "for words only"
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                26-12-2022 18:23
                                            </td>
                                            <td>
                                                <a href="http://localhost/http/view.php?m=74&amp;id=1">
                                                    zukunft.com system
                                                </a>
                                            </td>
                                            <td>
                                                added code id "word_default"
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                26-12-2022 18:23
                                            </td>
                                            <td>
                                                <a href="http://localhost/http/view.php?m=74&amp;id=1">
                                                    zukunft.com system
                                                </a>
                                            </td>
                                            <td>
                                                added description "the default view for words"
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                26-12-2022 18:23
                                            </td>
                                            <td>
                                                <a href="http://localhost/http/view.php?m=74&amp;id=1">
                                                    zukunft.com system
                                                </a>
                                            </td>
                                            <td>
                                                set owner to zukunft.com system
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                26-12-2022 18:23
                                            </td>
                                            <td>
                                                <a href="http://localhost/http/view.php?m=74&amp;id=1">
                                                    zukunft.com system
                                                </a>
                                            </td>
                                            <td>
                                                added "Word (default)"
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--usr_msg-->
        <footer class="site-footer">
            <p>
                <a href="http://localhost/http/about.php">
                    About
                </a>
                &middot;
                <a href="http://localhost/http/privacy_policy.html">
                    Privacy Policy
                </a>
                &middot; 
All structured data is available under the
                <a href="https://creativecommons.org/publicdomain/zero/1.0/" title="CC0 License">
                    Creative Commons CC0
                </a>
                Licence unless otherwise stated and the
                <a href="https://github.com/zukunft/zukunft.com">
                    program code
                </a>
                of this version 0.0.3
under the
                <a href="https://www.gnu.org/licenses/agpl.html">
                    AGPL3
                </a>
                Licence.
            </p>
        </footer>
    </body>
</html>